* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 960px;
  margin: 0 auto;
}

.list {
  padding: 50px 0;
}

.list-item {
  padding: 20px;
  color: gray;
}

.list-item:nth-child(odd) {
  background-color: rgb(236, 236, 236);
}

.box {
  padding-bottom: 10px;
  display: flex;
    flex-direction: row;
  flex-wrap: wrap;
}

.box-item {
  width: 30%;
  height: 200px;
  margin-bottom: 40px;
  background-color: #ffe600;
}

.box-column {
  margin-right: 5%;
}

.orange {
  background-color: #ff9100;
}
